<html>
	<div>
    <h1><a href="/">Django Blog do Erico</a></h1>
</div>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
{% for post in posts %}
    <div>
        <h2><a href="">{{ post.title }}</a></h2>
		<p>published: {{ post.published_date }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
</html>